.explore-container{
    margin-top: 50px;
    padding-left: 100px;
   
}

.explore-row{
    height: 80vh;
}

.stock-menu-container{
    padding-top: 15px;
    padding-left: 50px;
}

.stock-table-column{
    overflow-y: scroll;
    height: 100%;
}

.stock-menu-text{
    font-size: large;
    font-weight: 700;
}


.query-menu{
    
    padding-top: 10px;
}

.line-style{
    color: red;
    height: 5px;
}

hr {
    color: black;
}
