.explore-container{
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 0px;
}

.stock-menu-container{
    padding-top: 15px;
    margin-left: 50px;
}

.stock-menu-text{
    font-size: large;
    font-weight: 700;
}


.query-menu{
    
    padding-top: 10px;
}

.line-style{
    color: red;
    height: 5px;
}

hr {
    color: black;
}
